<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1">
    <link rel="icon" href="<%= BASE_URL %>favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/cf9eab9b1d.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/cf9eab9b1d.js" crossorigin="anonymous"></script>
    <title>Bookie</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    
    

  </body>
</html>
