@import "assets/variables";

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: $second-cta;
}

body {
  .nav {
    background-color: $bookie-white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    &__burger {
      color: $first-cta;
      font-size: 35px;
    }
  }

  .header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/src/assets/headerbg.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 45vh;

    &__headline {
      color: white;
      font-weight: 400;
      text-align: center;
      font-size: 25px;
      margin: 30px 0 10px 0;
    }
    &__p {
      color: white;
      text-align: center;
      font-size: 15px;
      line-height: 30px;
      margin: 30px 20px;
    }
    &__btn {
      background-color: $first-cta;
      border-style: none;
      color: white;
      font-size: 15px;
      letter-spacing: 2px;
      font-weight: bold;
      padding: 10px;
      margin-top: 10px;
      width: 150px;
      border-radius: 13px;
      box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.29);
      cursor: pointer;
    }
    &__jump-link {
      background-color: $second-cta;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 25px;
      cursor: pointer;
      position: absolute;
      bottom: -25px;
      text-decoration: none;
      box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.29);
      z-index: 9999;
    }
  }

  .trending {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $bookie-white;

    &__headline {
      font-size: 20px;
      margin-top: 50px;
    }
  }

  .categories {
    background-color: $bookie-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    &__headline {
      font-size: 20px;
      margin-top: 50px;
    }
    &__flex {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-top: 15px;
      &__sort {
        color: $bookie-black;
        font-weight: bold;
        font-size: 20px;
        word-spacing: 10px;
        .fa-solid {
          color: $second-cta;
        }
      }
      &__filter {
        color: $bookie-black;
        font-weight: bold;
        font-size: 20px;
        word-spacing: 10px;
        .fa-solid {
          color: $second-cta;
        }
      }
    }
  }

  .footer {
    background-color: $first-cta;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__bookie {
      color: white;
      font-size: 30px;
      letter-spacing: 2px;
    }
  }
}
