<template>
  <navbar></navbar>

  <main class="main">
    <h1>About page <br />Coming soon...</h1>
  </main>

  <footerComponent></footerComponent>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import FooterComponent from "@/components/FooterComponent.vue";

export default {
  name: "AboutView",
  components: {
    Navbar,
    FooterComponent,
  },
};
</script>

<style lang="scss" scoped>
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 400px;
  }
}
</style>
