<template>
  <navbar></navbar>
  <book></book>
  <trending></trending>
  <FooterComponent></FooterComponent>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Trending from "@/components/Trending.vue";
import Book from "@/components/Book.vue";
import FooterComponent from "@/components/FooterComponent.vue";

export default {
  name: "BooksView",
  components: {
    Navbar,
    Book,
    Trending,
    FooterComponent,
  },
};
</script>
