<template>
  <navbar></navbar>
  <hero></hero>
  <trending></trending>
  <categories></categories>
  <footerComponent></footerComponent>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Hero from "@/components/Hero.vue";
import Trending from "@/components/Trending.vue";
import Categories from "@/components/Categories.vue";
import FooterComponent from "@/components/FooterComponent.vue";

export default {
  name: "HomeView",
  components: {
    Navbar,
    Hero,
    Trending,
    Categories,
    FooterComponent,
  },
};
</script>
