<template>
  <main class="bookInfo">
    <section class="bookInfo__Front">
      <img
        v-bind:src="main.Img"
        class="bookInfo__Front__Thumbnail"
        alt="Placeholder"
      />
    </section>
    <section class="bookInfo__Cover">
      <h3 class="bookInfo__Cover__Title">{{ main.Title }}</h3>
      <p class="bookInfo__Cover__Author">
        Skrevet af {{ String(main.Author) }}
      </p>
      <a class="bookInfo__Cover__Buy" v-bind:href="main.BuyLink">BUY BOOK</a>
      <article class="bookInfo__Cover__Description">
        <p class="bookInfo__Cover__Description__Text">
          {{ main.Description }}
        </p>
      </article>
    </section>
  </main>
</template>

<script>
//Importing our store
import { useBookStore } from "../store/useBook";

export default {
  name: "Book",
  setup() {
    const main = useBookStore();

    return { main };
  },
  data() {
    return {
      Book: {},
    };
  },
};
</script>

<style lang="scss" scoped>
@import "./assets/scss/assets/variables";

.bookInfo {
  background-color: $bookie-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 48px;
  &__Front {
    text-align: center;
    width: 53.28%;
    &__Thumbnail {
      width: 100%;
      display: block;
    }
  }
  &__Cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2%;

    &__Title {
      font-size: 19px;
      color: $bookie-text-black;
      font-family: "Open sans";
    }
    &__Author {
      font-size: 10px;
      margin: 12px 0 0 0;
    }
    &__Buy {
      background-color: $first-cta;
      color: $bookie-white;
      text-decoration: none;
      width: 35%;
      font-size: 14px;
      border-radius: 1em;
      padding: 12px 0;
      text-align: center;
      margin: 20px 0 0 0;
      box-shadow: 0px 6px 18px 0px rgba($color: $realblack, $alpha: 0.16);
    }
    &__Description {
      margin: 20px 0 0 0;
      text-align: center;
      width: 80%;
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 650px) {
  .bookInfo {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    padding-bottom: 50px;
    box-sizing: border-box;
    &__Front {
      grid-column: 1/-2;
      text-align: center;
      width: fit-content;
      justify-self: end;
      margin-left: 25px;
      &__Thumbnail {
        width: 100%;
        max-width: 300px;
      }
    }
    &__Cover {
      grid-column: 2/-1;
      grid-row: 1;
      align-items: flex-start;
      align-self: flex-start;
      padding-left: 75px;
      padding-top: 0;
      box-sizing: border-box;
      &__Title {
        font-size: 28px;
        margin: 0;
      }
      &__Author {
        font-size: 14px;
      }
      &__Buy {
        width: 35%;
        max-width: 136px;
        padding: 12px 0;
      }
      &__Description {
        text-align: left;
      }
    }
  }
}

@media only screen and (min-width: 1150px) {
  .bookInfo__Front {
    margin-left: 0;
  }
  .bookInfo__Cover__Buy {
    width: 25%;
  }
}
</style>
