<template>
  <div class="categories">
    <h2 class="categories__headline">Browse by categories</h2>

    <!-- Sort & filter -->
    <div class="categories__flex">
      <div class="categories__flex__sort">
        Sort
        <i class="fa-solid fa-arrow-down-a-z"></i>
      </div>
      <button
        @click="FilterToggled = !FilterToggled"
        class="categories__flex__filter"
      >
        Filter
        <i class="fa-solid fa-filter"></i>
      </button>
    </div>

    <!-- Filter -->
    <div v-if="FilterToggled" class="categories__filter">
      <input
        type="checkbox"
        id="Horror"
        name="Horror"
        value="Horror"
        v-model="Genres"
      />
      <label for="Horror">Horror</label>
      <input
        type="checkbox"
        id="Thriller"
        name="Thriller"
        value="Thriller"
        v-model="Genres"
      />
      <label for="Thriller">Thriller</label>
      <input
        type="checkbox"
        id="Action"
        name="Action"
        value="Action"
        v-model="Genres"
      />
      <label for="Action">Action</label>
      <input
        type="checkbox"
        id="Comedy"
        name="Comedy"
        value="Comedy"
        v-model="Genres"
      />
      <label for="Comedy">Comedy</label><br />
      <button class="btn" type="button" @click="searchCategories">
        Filter
      </button>
    </div>
    <div class="categories__grid-container" v-if="books && validBooks">
      <router-link
        v-for="book in validBooks"
        :key="book"
        class="trending__Content__Book"
        :to="'/books/' + book.volumeInfo.industryIdentifiers[0].identifier"
        @click="
          main.updateBook(
            book.volumeInfo.title,
            book.volumeInfo.authors,
            book.saleInfo.buyLink,
            book.volumeInfo.industryIdentifiers[0].identifier,
            book.volumeInfo.description,
            book.volumeInfo.imageLinks.thumbnail
          )
        "
      >
        <img
          v-if="book.volumeInfo.imageLinks"
          class="trending__Content__Book__Thumbnail"
          v-bind:src="book.volumeInfo.imageLinks.thumbnail"
          v-bind:alt="
            book.volumeInfo.imageLinks.thumbnail +
            ' written by ' +
            book.volumeInfo.authors
          "
        />
        <img
          v-else
          class="trending__Content__Book__Thumbnail"
          src="../assets/TempImage.jpg"
          alt="../assets/TempImage.jpg + ' written by ' + {{ book.volumeInfo.authors }}"
        />
        <p v-if="String(book.volumeInfo.title).length > 50">
          {{
            String(book.volumeInfo.title).substring(0, 50).slice(0, -3) + "..."
          }}
        </p>
        <p v-else>{{ String(book.volumeInfo.title) }}</p>
      </router-link>
    </div>
    <h3 v-else>Sorry couldn't find any books :(</h3>
  </div>
</template>

<script>
//Importing our store
import { useBookStore } from "../store/useBook";

export default {
  name: "Categories",
  props: {},
  data() {
    return {
      books: [],
      FilterToggled: false,
      Genres: [],
    };
  },
  setup() {
    const main = useBookStore();
    //Returns viewers windows to 0,0 aka the top of the page
    function returnToTop() {
      window.scrollTo(0, 0);
    }

    main.$onAction(returnToTop);

    return { main };
  },
  //Calls the API on initial load
  async created() {
    try {
      const response = await fetch(
        "https://www.googleapis.com/books/v1/volumes?q=subject:fiction&maxResults=40&key=AIzaSyDoFqtwvCm45MiYFwPwquinYSWPy4H1koo"
      );
      return await response.json().then((data) => (this.books = data.items));
    } catch (error) {
      throw error;
    }
  },
  methods: {
    //When we sort by categories the API is run again, since its an array we replace the , with +
    async searchCategories() {
      try {
        const response = await fetch(
          "https://www.googleapis.com/books/v1/volumes?q=" +
            String("subject:" + this.Genres).replace(/,/g, "+subject:") +
            "&maxResults=30&key=AIzaSyDoFqtwvCm45MiYFwPwquinYSWPy4H1koo"
        );
        return await response.json().then((data) => (this.books = data.items));
      } catch (error) {
        throw error;
      }
    },
  },
  computed: {
    //Checking if the books to be shown has an ISBN number and an image
    validBooks: function () {
      return this.books.filter(function (u) {
        return u.volumeInfo.industryIdentifiers && u.volumeInfo.imageLinks;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./assets/scss/assets/variables";

.categories {
  background-color: $bookie-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__headline {
    font-size: 20px;
    margin-top: 50px;
  }
  &__flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
    &__sort {
      color: $bookie-black;
      font-weight: bold;
      font-size: 20px;
      word-spacing: 10px;
      .fa-solid {
        color: $second-cta;
      }
    }
    &__filter {
      color: $bookie-black;
      font-weight: bold;
      font-size: 20px;
      word-spacing: 10px;
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      .fa-solid {
        color: $second-cta;
      }
    }
  }
  &__grid-container {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    /* tablet */
    @media (min-width: 600px) {
      grid-template-columns: 3fr 3fr 3fr;
      grid-gap: 50px;
    }
    /* Desktop */
    @media (min-width: 1100px) {
      grid-template-columns: 3fr 3fr 3fr 3fr;
      grid-gap: 80px;
    }
  }
}
.trending__Content__Book {
  color: $second-cta;
  text-decoration: none;
  text-align: center;
  width: 60%;
  .trending__Content__Book__Thumbnail {
    width: 100%;
    @media (min-width: 1100px) {
      width: 200px;
    }
  }
}

.categories__filter {
  text-align: center;
  input {
    margin: 20px 10px;
  }
  label {
    color: $second-cta;
  }
  .btn {
    background-color: $first-cta;
    border-style: none;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    border-radius: 13px;
    cursor: pointer;
  }
}
</style>
