<template>
  <footer>
    <h4>Bookie</h4>
  </footer>
</template>

<script>
export default {
  name: "FooterComponent",
  props: {},
};
</script>

<style lang="scss" scoped>
@import "./assets/scss/assets/variables";
footer {
  height: 50px;
  background-color: $first-cta;
  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
    color: white;
  }
}
</style>
