<template>
    <div class="header">
        <h1 class="header__headline">
            Let us help you find a book.
        </h1>
        <p class="header__p">
            Lorem ipsum dolor sit amet, consetetur \n sadipscing elitr, sed diam nonumy
        </p>

        <div class="header__searchContainer">
        <input class="header__searchContainer__input" v-model="message" placeholder="Search for a booktitle..."/>
        <button @click="getResults(message)" class="header__searchContainer__btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        </div>
        <div class="header__searchContainer__results" v-if="validBooks.length">

                    <router-link class="header__searchContainer__results__item" v-for="book in validBooks" :key="book" :to="'/books/' + book.volumeInfo.industryIdentifiers[0].identifier" @click="main.updateBook(
        book.volumeInfo.title,
        book.volumeInfo.authors,
        book.saleInfo.buyLink,
        book.volumeInfo.industryIdentifiers[0].identifier,
        book.volumeInfo.description,
        book.volumeInfo.imageLinks.thumbnail)">
            <img
          v-if="book.volumeInfo.imageLinks"
          class="header__searchContainer__results__item__thumbnail"
          v-bind:src="book.volumeInfo.imageLinks.thumbnail"
          v-bind:alt="
            book.volumeInfo.imageLinks.thumbnail +
            ' written by ' +
            book.volumeInfo.authors
          "
        />
        <p class="header__searchContainer__results__item__title">{{book.volumeInfo.title}}</p>

        </router-link>

        </div>

<!-- Find a book btn -->
        <button class="header__btn">
            Find a book
        </button>
        </div>
        
        
        

    
</template>

<script>
//Importing the store
import {useBookStore} from "../store/useBook"

export default {

  methods: {
    //When the search button is clicked this method checks if theres an input and if that input only contains spaces
    async getResults(input) {
      if (input && input.trim().length >= 1){
        try {
          const response = await fetch(
            'https://www.googleapis.com/books/v1/volumes?q=' +
              input +
              '&maxResults=30&key=AIzaSyDoFqtwvCm45MiYFwPwquinYSWPy4H1koo'
          )
          return await response.json().then((data) => (this.books = data.items))
        } catch (error) {
          throw error;
        } 
        }
    },
  },
  computed: {
    //Filters the books to check if they have ISBN number and an image
    validBooks: function () {
      return this.books.filter(function (u) {
        return u.volumeInfo.industryIdentifiers && u.volumeInfo.imageLinks
      })
    }
  },
  data () {
    return {
      books: [],
    };
  },
  setup () {
    const main = useBookStore()

},
  name: "Hero",
};
</script>

<style lang="scss" scoped>
@import "./assets/scss/assets/variables";
.header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/src/assets/headerbg.webp);
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 370px;

  &__headline {
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    margin: 30px 0 10px 0;
  }
  &__p {
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    margin: 30px 20px;
  }

  &__searchContainer {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content:center;

    &__input {
      width: 225px;
      height: 20px;
      padding: 10px;
      border-radius: 20px 0 0px 20px;
      border-style: none;
      outline: none;
      z-index: 10;
    }
    &__btn {
      background-color: $first-cta;
      width: 50px;
      height: 100%;
      border-style: none;
      border-radius: 0 20px 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      z-index: 10;
      cursor: pointer;
    }
      &__results {
    width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x:hidden;
    padding-top:10px;
    z-index:5;
    background:$bookie-background;
    box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.29);
    border-radius: 10px;
    &__item {
      width: 275px;
      height: 100px;
      display: grid;
      margin: 5px 0;
      align-content: center;
      background-color: $bookie-white;
      color: $first-cta;
      grid-gap: 10px;
      &__thumbnail {
        max-height:100%;
        grid-column: 1/2;
        overflow-y:hidden;
      }
      &__title {
        grid-column: 2/3;
        font-size: 13px;
        margin: 0;
        align-self:center;
        max-width:100%;
        overflow: hidden;
      }
      &__author {
        grid-column: 3/4;
        font-size: 10px;
        margin: 0;
        align-self:center;
        width:100%;
      }
    }
  }
  }
  &__btn {
    background-color: $first-cta;
    border-style: none;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 15px;
    margin-top: 10px;
    width: 150px;
    border-radius: 13px;
    box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.29);
    position: absolute;
    bottom: -25px;
    z-index: 1;
    cursor: pointer;
  }
}

//Search result scrollbar

</style>
