<template>
  <div class="navbar">
    <router-link to="/"
      ><img alt="Vue logo" src="../assets/bookieLogo.png"
    /></router-link>

    <!-- Burger button -->
    <div
      @click="
        show = !show;
        spanActive = !spanActive;
        burgerActive = !burgerActive;
      "
      class="navbar__burger mobile-nav"
      :class="{ burgerActive: !burgerActive }"
    >
      <span
        class="navbar__burger__span"
        :class="{ spanActive: !spanActive }"
      ></span>
      <span
        class="navbar__burger__span--middle-bar"
        :class="{ spanActiveMiddle: !spanActive }"
      ></span>
      <span
        class="navbar__burger__span"
        :class="{ spanActive: !spanActive }"
      ></span>
    </div>

    <!-- Desktop nav -->
    <nav class="nav desktop-nav">
      <ul class="nav__nav-items">
        <li class="nav__nav-items__item">
          <router-link class="nav__nav-items__item__link" to="/"
            >Home</router-link
          >
        </li>
        <li class="nav__nav-items__item">
          <router-link class="nav__nav-items__item__link" to="/About"
            >About</router-link
          >
        </li>
        <li class="nav__nav-items__item">
          <router-link class="nav__nav-items__item__link" to="/Contact"
            >Contact</router-link
          >
        </li>
      </ul>
    </nav>
  </div>

  <!-- Mobile nav-->
  <Transition name="slide-fade">
    <nav v-if="show" class="nav mobile-nav">
      <ul class="nav__nav-items">
        <li class="nav__nav-items__item">
          <router-link class="nav__nav-items__item__link" to="/"
            >Home</router-link
          >
        </li>
        <li class="nav__nav-items__item">
          <router-link class="nav__nav-items__item__link" to="/About"
            >About</router-link
          >
        </li>
        <li class="nav__nav-items__item">
          <router-link class="nav__nav-items__item__link" to="/Contact"
            >Contact</router-link
          >
        </li>
      </ul>
    </nav>
  </Transition>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      spanActive: true,
      burgerActive: true,
    };
  },
  name: "Navbar",
  props: {},
  methods: {
    // Toggle class on burger button
    burger: function () {
      const bars = document.querySelector("navbar__burger__span");
      bars.classList.toggle("spanActive");
    },
  },
};

window.onload = function () {
  const burger = document.querySelector(".navbar__burger");
  const nav = document.querySelector(".nav");
};
</script>

<style lang="scss" scoped>
@import "./assets/scss/assets/variables";
.navbar {
  background-color: $bookie-white;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0;

  &__burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    font-size: 1.2em;
    z-index: 10001;

    &__span {
      display: block;
      width: 30px;
      height: 3px;
      background: $first-cta;
      margin-bottom: 8px;
      transition: all 0.9s ease-out;
      &--middle-bar {
        display: block;
        width: 15px;
        height: 3px;
        background: $second-cta;
        margin-bottom: 8px;
        transition: all 0.9s ease-out;
      }
    }
  }
}
.desktop-nav {
  display: none;
}
.nav {
  background: $second-cta;
  padding: 20px;
  padding-top: 80px;
  height: 300vh;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;

  &__nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    &__item {
      list-style: none;
      padding: 0;
      &__link {
        color: $bookie-white;
        display: block;
        margin-bottom: 50px;
        font-size: 1.6em;
        text-decoration: none;
      }
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.5s ease-out;
  overflow-x: hidden;
}

.slide-fade-leave-active {
  transition: all 1s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(700px);
  opacity: 1;
}

@media (min-width: 1100px) {
  .mobile-nav {
    display: none;
  }
  .nav {
    background: $bookie-white;
    height: 80px;
    padding: 0px;
    padding-top: 0px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: right;
    &__nav-items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
      padding: 0;
      margin: 0 100px 0 0;
      &__item {
        margin: 0;
        &__link {
          font-size: 20px;
          margin: 0;
          color: $second-cta;
        }
      }
    }
  }
}

.spanActive {
  background: white;
  transition: all 0.9s ease-out;
}

.spanActiveMiddle {
  background: rgb(170, 170, 170);
  transition: all 0.9s ease-out;
}

.burgerActive {
  position: fixed;
  right: 20px;
}
</style>
