<template>
  <h2 class="trending__headline">Trending books</h2>
  <div class="trending" id="trending">
    <section class="trending__Content">
      <router-link
        class="trending__Content__Book"
        :to="'/books/' + book.primary_isbn13"
        @click="
          main.updateBook(
            book.title,
            book.author,
            book.amazon_product_url,
            book.primary_isbn13,
            book.description,
            book.book_image
          )
        "
        v-for="book in books.books"
        :key="book"
      >
        <img
          class="trending__Content__Book__Thumbnail"
          v-bind:src="book.book_image"
          v-bind:alt="book.title + ' written by ' + book.author"
        />
        <p class="trending__Content__Book__title">{{ book.title }}</p>
      </router-link>
    </section>
  </div>
</template>

<script>
//Importing store
import { useBookStore } from "../store/useBook";

export default {
  name: "Trending",
  props: {},
  setup() {
    const main = useBookStore();
    //Returns viewer to 0,0 aka top of window
    function returnToTop() {
      window.scrollTo(0, 0);
    }

    main.$onAction(returnToTop);

    function returnToTop() {
      window.scrollTo(0, 0);
    }

    main.$onAction(returnToTop);
    return { main };
  },
  data() {
    return {
      books: [],
    };
  },
  //Initial call for API
  async created() {
    try {
      const response = await fetch(
        "https://api.nytimes.com/svc/books/v3/lists/full-overview.json?api-key=JjiKdRB8tbswGr4iLOXSlP0WHIDttJsY"
      );
      return await response
        .json()
        .then((data) => (this.books = data.results.lists[0]));
    } catch (error) {
      throw error;
    }
  },
  async created() {
    try {
      const response = await fetch(
        "https://api.nytimes.com/svc/books/v3/lists/full-overview.json?api-key=JjiKdRB8tbswGr4iLOXSlP0WHIDttJsY"
      );
      return await response
        .json()
        .then((data) => (this.books = data.results.lists[0]));
    } catch (error) {
      throw error;
    } // finally{
    // this.emitter.emit("NyTimes",this.books);
    // }
  },
};
</script>

<style lang="scss" scoped>
@import "./assets/scss/assets/variables";
.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $bookie-white;
  overflow-x: scroll;
  margin-top: 30px;
  &__Content {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    &__Book {
      width: 200px;
      margin: 0 10px;
      text-decoration: none;
      &__Thumbnail {
        width: 100%;
        max-height: 300px;
      }
      &__title {
        color: $second-cta;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}

.trending__headline {
  font-size: 20px;
  margin: 70px 0 30px 0;
  text-align: center;
}
</style>
